<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>927529237919-np8c1t5je9m4av9drfeo9hd2psnqaf04.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.927529237919-np8c1t5je9m4av9drfeo9hd2psnqaf04</string>
	<key>API_KEY</key>
	<string>AIzaSyANfn7n2Y0tfU690_uzajo-yUy7bGV-xoo</string>
	<key>GCM_SENDER_ID</key>
	<string>927529237919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SocialNetwork.Feed</string>
	<key>PROJECT_ID</key>
	<string>feed-b9a28</string>
	<key>STORAGE_BUCKET</key>
	<string>feed-b9a28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:927529237919:ios:db5d45ce5e4941ee</string>
	<key>DATABASE_URL</key>
	<string>https://feed-b9a28.firebaseio.com</string>
</dict>
</plist>